.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  align-content: stretch;
}

.footer {
  display: block;
  text-align: center;
  padding: 6rem;
  box-sizing: border-box;
  align-content: stretch;
}

/* Desktop */
@media (min-width: 1080px) and (max-width: 1920px) {

}

/* Tablet (iPad air) */
@media (min-width: 1640px) and (max-width: 2360) {

}

/* iPhone XR */
@media (min-width: 828px) and (max-width: 1792) {

}